/* CSS Banner */
.main-banner{
    background: linear-gradient(155.31deg, rgba(139, 51, 43, 0.4) 15.75%, rgba(31, 30, 27, 0.01) 84.25%) , url(../img/photo-1550745165-9bc0b252726f-2.jpg) no-repeat center top -150px;
    padding-top: 25vh;
}

.main-banner::after{
    content: '';
    display: block;
    max-width: 100%;
    height: 137px;
    background: linear-gradient(0deg, rgba(31,30,27,1) 20%, rgba(31,30,27,0) 80%), url(../img/wave-up.svg);
    margin-top: 80px;
}

.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DEIXAR O BACKGROUND RESPONSIVO QUANDO A TELA ESTIVER MUITO GRANDE */
@media (min-width: 1500px) {
    .main-banner{
        background-size:  100% auto;
    }
}