:root{
    --cor-bg: #1F1E1B;
    --cor-bg-2: #353431;
    --white: #ffffff;
    --primary: #C03D2B;
    --secondary: #DF8738;
}

body{
    margin: 0px;
    font-family: 'Outfit';
    background-color: var(--cor-bg);
    color: var(--white);
}

img {
    width: 100%;
}

h1, h3, p{
    margin: 0;
}
 
a{
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.glass-effect{
    background: linear-gradient(111.73deg, rgba(31, 30, 27, 0.4) 21.85%, rgba(31, 30, 27, 0.56) 79.34%);
    border: 1px rgba(238, 89, 72, 0.12) solid;
    border-radius: 10px;
    z-index: 1;
}

.title-box{
    padding: 80px 120px;
    position: relative;
}

.title-box p{
    opacity: .9;
}

.title-box p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.title-box h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    max-width: 25ch;
    text-align: center;
}

.ruido{
    background: url(../img/ruido.svg);
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0.2;
    border-radius: 10px;
    filter: blur(1px);
    z-index: -1;
}


.secondary{
    font-weight: 500;
    color: var(--secondary);
}

.primary{
    font-weight: 500;
    color: var(--primary);
    position: relative;
}

.primary::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    bottom: 0px;
    left: 0;
    position: absolute;
}

.primary:hover::after{
    animation: piscar .8s infinite;
}

/* animação de barra de escrever */
.glass-effect p::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
}

/* animação do h1 do header */

[data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: .9;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }

@keyframes piscar {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0)
      }
      50% {
        transform: translateY(5px)
      }
}

@media (max-width: 950px) {
    .title-box p{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
        margin-left: 1.4rem;
    }
    .title-box h1{
        font-weight: 600;
        font-size: 24px;

        max-width: 25ch;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .title-box{
        padding: 20px 40px;
        margin: auto 20px;
    }
}