@import "./css/global.css";
@import "./css/header.css";
@import "./css/banner.css";
@import "./css/intro.css";









/* css efeito de vidro e conteudo */






/* animação de barra de escrever */
/* .glass-effect p::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
} */





/* CSS dos cards */

.card-bg{
    background: #353431;
}

.card-bg::before{
    content: '';
    display: block;
    max-width: 100%;
    height: 137px;
    background: linear-gradient(180deg, rgba(31,30,27,1) 20%, rgba(31,30,27,0) 80%), url(img/wave-down.svg);
    margin-top: 80px;
}

.card-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6C63FF;
    max-width: 373px;
    padding: 20px;
    border-radius: 20px 20px 48px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: inset 10px 0 rgb(255 255 255 / 70%), inset -10px 0 rgb(0 0 0 / 20%);
}

.card-body img{
    border-radius: 4px  4px 12px 4px;
    margin-bottom: 12px;
    max-width: 333px;
}

.card-body h3{
    display: flex;
    margin-bottom: 32px;
    text-align: center;
    text-transform: full-width;
}

.card-body a:hover {
    color: #ffffff;
}




@media (max-width: 950px) {
    .card-container{
        gap: 20px ;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .card-body img{
        border-radius: 0 0 10px 0;
        margin-bottom: 12px;
    }
}

@media (max-width: 600px) {
    .card-container{
        grid-template-columns: 1fr;
        padding: auto;
    }
    .card-body{
        margin: auto;
    }
}