body{
    margin: 0px;
    background: #ffffff;
    font-family: 'Mulish';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 0 40px;
}

img {
    width: 100%;
}

h1{
    margin: 0;
    font-size: 4em;
    color: #1f1f1f;
}

h3{
    margin: 0;
 }
 
a{
    color: #1f1f1f;
    text-decoration: none;
}

a:hover{
    color: #6C63FF;
    transition: .3s;
}

p::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
}

.card-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px ;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6C63FF;
    max-width: 373px;
    padding: 20px;
    border-radius: 0 0 10px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.card-body img{
    border-radius: 0 0 10px 0;
    margin-bottom: 12px;
    max-width: 333px;
}

.card-body h3{
    display: flex;
    margin-bottom: 32px;
    text-align: center;
    text-transform: full-width
}

.card-body a:hover {
    color: #ffffff;
}





@keyframes piscar {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@media (max-width: 950px) {
    .card-container{
        gap: 20px ;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    
    .card-body img{
        border-radius: 0 0 10px 0;
        margin-bottom: 12px;
    }
}

@media (max-width: 600px) {
    .card-container{
        grid-template-columns: 1fr;
        padding: auto;
    }
    .card-body{
        margin: auto;
    }
}